body{
    font-family: 'Poppins', sans-serif;
}
svg{
    color:blue;
}
.logo_text{
    color:blue;
}
img{
    width:105%;
}
h3{
    margin-top: 10%;
    padding-top: 10%;
    padding-left:5%;
    margin-bottom: 5%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    letter-spacing: 2px;
}
h1{
    font-size: 48px;
    margin-bottom: 5%;
    color: #000000;
    line-height: 1.3;
    font-weight: 900;
    position: relative;
    padding-left:5%;
    border-bottom-style: solid
}
p{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5); 
}
.btn.btn-black {
    background: #000000 !important;
    border: 1px solid #000000 !important;
    color: #fff !important;
    margin-bottom: 20px !important;
}
.btn.btn-black:hover {
    border: 1px solid #fd5f00 !important;
    background: #fd5f00 !important;
    color: #fff;
}
.forward{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    text-decoration: none;
    color: #999999;
    background-color: #fff ;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 27px;
    right: 0;
    height: 80px;
    transition: all 0.7s ease;
    opacity: 1;
}
.next{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    text-decoration: none;
    color: #999999;
    background-color: #fff ;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 27px;
    right: 0;
    height: 80px;
    transition: all 0.7s ease;
    opacity: 1;
}
.forward:hover,
.next:hover {
  background-color: black;
  transition: 1s;
  text-decoration: none;
  color: white !important;
}
.heading-section h2 span:after {
    position: absolute;
    bottom: 10px;
    width: 10px;
    height: 10px;
    content: '';
    background: #ffd615;
}
.heading-section h2 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}
.card-img-top{
    border-radius: 5px !important;
}
.card-title{
    font-size:15px !important;
}
.card-body{
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.card-text{
    line-height: 1.5;
    font-weight: 400;
    font-size:18px;
    font-family: "Playfair Display", serif;
}
.card_link{
    color: #fd5f00 !important;  
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.image_2{
    width:80%;
    height: 700px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .5;
}
.image_2_card {
    position: relative;
    display: flex;;
    flex-direction: column;
    min-width: 100%;
    background-color:transparent;
    font-family: 'Playfair Display', serif; 
}
.image_2_body{
    padding-left: 20px;
    margin-left: 23px;
}
.image_2_title{    
    color: #ffd615;
    font-family: 'Playfair Display', serif;
    font-size: 16px !important;
    font-weight:500;
    margin-bottom: 0;
}
.image_2_text{
    font-size: 39px !important;
    line-height: 1.5;
    color: white;
    font-weight: 500 !important;
    font-family: "Playfair Display", serif;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.image_2_btn{
    position: absolute;
    bottom: 0;
    right: 0px;
    padding: 1em 2em;
    background: #fff;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    border-radius: 0!important;
}
.line{
    margin-left: 35% !important;
    font-size:12px;
}
.line:after{
    content:"";
    display:block;
    width:25%;
    height:1px;
    position:absolute;
    background:black;
    left:30%;
    top:65%;
}
.line_2{
    margin-left: 35% !important;
    font-size:12px;
}
.line_2:after{
    content:"";
    display:block;
    width:25%;
    height:1px;
    position:absolute;
    background:black;
    left:30%;
    top:60%;
}
.featured-section h2 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    display:block;
}
.featured-section h2 span:after {
    position: absolute;
    width: 10px;
    left:26%;
    top:15px;
    height: 10px;
    content: '';
    background: #ffd615;
}
.featured_line{
    margin-left: 35% !important;
    font-size:12px;
}
.featured_line:after{
    content:"";
    display:block;
    width:25%;
    height:1px;
    position:absolute;
    background:black;
    left:30%;
    top:71%;;
}
.card_About{
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}
.search-form{
    margin: 41% 6% 15%;
    display:inline;
    position: relative;
}
.form-control{
    height:65px;
    width:85%;
    border: 1px solid #999;
    border-radius: 5px;
    margin-left:10%;
    margin-right: 10px;
}
.search-form .icon{
    position:absolute;
    top: 40%;
    transform: translateX(80px);
}
.Roger_Bosch_P{
    font-size: 18px !important;
    line-height: 1.8;
    font-weight: 400 !important;
    color: rgba(255, 255, 255, 0.4);
    font-family: "Poppins", Arial, sans-serif;

}
.signature{
    font-style: italic;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    color: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
}
.holiday-section h2{
    font-size: 24px;
    font-weight: 900;
    color:black;
    font-family: 'Playfair Display', serif;
}
.holiday-section h2 span:after {
    position: absolute;
    width: 10px;
    left:33%;
    top:15px;
    height: 10px;
    content: '';
    background: #ffd615;
}
.category-image {
    padding: 0;
    margin: 0;
}
.category-image  a {
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.categories li{
    position: relative;
    list-style: none;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
    border-bottom: none !important;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.category-image li a .text h3 {
    color: #fff;
    font-weight: 700;
}
.category-image li {
    list-style: none;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
    border-bottom: none !important;
}
#About-Storie-section{
    position: relative;
    z-index: 0;
}
.img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#subscription_section {
    width: 100%;
    display: block;
    z-index: 0;
    background: #f8f9fa !important;
    height: 60vh;
    text-align: center;
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}
.subscribe-section {
    padding: 7em 0 !important;
    position: relative;
}
.subscribe-section h2{
    font-size: 30px;
    font-weight: 900;
    line-height: 1.5;
    color:black !important;
    font-family: 'Playfair Display', serif;
}
.subscribe-section h2 span:after {
    position: absolute;
    width: 10px;
    left:75%;
    top:8%;
    height: 10px;
    content: '';
    background: #ffd615;
}  
.subscribe-heading{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}
.subscribe-form .form-group input {
    height: 64px !important;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.7) !important;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.05) !important;
    border-radius: 5px 0px 0px 5px;
    padding: 0 20px;
}
.subscribe-form .form-group .submit {
    color: #fff !important;
    background: #000000 !important;
    border-radius: 0px 5px 5px 0px;
    font-size: 16px;
}
.footer_heading h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", Arial, sans-serif;
}
.footer_heading p {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 18px;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.8;
    font-weight: 500;
}
.footer_heading{
    font-size: 16px;
    background: #1f1f1f;
    padding: 7em 0;
    z-index: 0;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
    color:white !important;
}
.footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
    color:white;
}
.footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative
}
.footer-social li a span {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)    
}
.footer_heading ul li a {
    color: rgba(255, 255, 255, 0.7) !important;
    text-decoration: none;
    background-color: transparent;
}
.about-section h2 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}
.about-section h2 span:after {
    position: absolute;
    bottom: 10px;
    top:12px;
    width: 10px;
    height: 10px;
    content: '';
    background: #ffd615;
}
.contacts ul li, .contacts ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}
.contacts ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white;
}
.contacts ul li .text {
    display: table-cell;
    vertical-align: top;
}
.block-23 ul li span {
    color: rgba(255, 255, 255, 0.7);
}     
.hero-wrap {
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero-wrap.hero-wrap-2 .overlay {
    width: 100%;
    opacity: .3;
}
.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #000000;
}
.hero-wrap .slider-text {
    height: 500px;
}
.hero-wrap .slider-text .bread {
    font-weight: 700;
}
.hero-wrap .slider-text h1 {
    font-size: 64px;
    color: #fff;
    line-height: 1.2;
}
.hero-wrap .slider-text .breadcrumbs {
    font-size: 16px;
    margin-bottom: 20px;
    z-index: 99;
    font-weight: 400;
}
.hero-wrap .slider-text p {
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
}
.hero-wrap .slider-text .breadcrumbs span a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.blog-entry {
    margin-bottom: 3em;
    width: 100%;
}
.blog-entry .half {
    width: 100%;
    display: block;
}
.blog-entry .half .img {
    height: 380px;
}
.ftco-no-pb {
    padding-bottom: 0 !important;
}
.d-flex {
    display: flex !important;
}
.contact-section .contact-form {
    width: 100%;
}
.block-9 .form-control {
    outline: none !important;
    box-shadow: none !important;
    font-size: 15px;
}
.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    border-radius: 5px;
}
.btn.btn-primary {
    background: #fd5f00 !important;
    border: 1px solid #fd5f00 !important;
    color: #fff !important;
}
#map {
    width: 100%;
}
.ftco-section {
    padding: 3em 0;
    position: relative;
    z-index: 0;
}
.contact-section .box .icon {
    width: 100px;
    height: 100px;
    background: black;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 50%;
}
.contact-section .box .icon span {
    color: #ffd615;
    font-size: 30px;
}
.icon-map-signs:before {
    content: "\f277";
}
.contact-section .box h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", Arial, sans-serif;
}
.contact-section .contact-info p {
    font-size: 16px;
}
.contact-section .contact-info p a {
    color: #1a1a1a;
}
.blog-entry .half h3 {
    font-size: 30px;
    font-weight: 700;
}
.blog-entry .text h3 a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    font-family: "Playfair Display", serif;
}
.line_3{
    margin-left: 35% !important;
    font-size:12px;
}
.line_3:after {
    content: "";
    display: block;
    width: 15%;
    height: 1px;
    position: absolute;
    background: black;
    left: 62%;
}

.block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
}
.block-27 ul li a, .block-27 ul li span {
    color: #1f1f1f;
    text-align: center !important;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
}
.block-27 ul li.active span {
    background: #1f1f1f;
    color: #fff;
    border: 1px solid transparent;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 20px;
    font-family: "Poppins", Arial, sans-serif;;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000 !important;
    font-weight: 600;
    opacity: 1 !important;
}